<a href="https://colab.research.google.com/github/AjayNRG/kaggleChallenges/blob/master/TitaniczDisasterKaggle2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy  as np
import pandas as pd

In [0]:
df_train = pd.read_csv('https://storage.googleapis.com/kagglesdsdata/competitions/3136/26502/train.csv?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1590387572&Signature=J%2BCyJ5%2BEwSIBkAQ78S7Yg3QGGZn27sYywV5ALvEHM2nzClV3nfupnMLtJJd2zfSNdvK1Jw1DvFwchwUYiZpKSO776nV2uraH%2Brp5PV3F8HvNRGNi78TbpzCGNWALlk7dHp2GrPAhcZyjBVRSgJHVxbpWBx9ztquq6Cuo1LYtQr8RjwGs%2FxPvHUm1xoLpkbyHP1ReIc1JEf9%2BOkZrvw%2Fc%2FYT%2FCbLWbfrv4P2ENomzqTOtmDDZ9kthudRqm40LqBI4VDRGSRVizQ%2F0qHVsAKQ%2FkdqSZI4H10jFI5lLNJbvTrq4ydkHExEhb0JfvTsrYo59ZNe%2Bme1pEGEI2bf1ww%2Brvw%3D%3D&response-content-disposition=attachment%3B+filename%3Dtrain.csv')
df_test = pd.read_csv('https://storage.googleapis.com/kagglesdsdata/competitions/3136/26502/test.csv?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1590387611&Signature=JbZC9eNgjq98d9H7LNDih%2Fqr4pA5yp6yxtfaHDyjizBwPEe1vq1UdYYQ%2Fuhkn1TMpMlv6gsUrmG63MMh496xjwnOsfoKBhTuS3GFMR%2F6zfq6P2gkv9AaWPt4BdqbtraOTKZ2wsJup69AIpSt1m65MFkvj6uID08B1daAIB852z1iYTgFEwRnRrMOrrhBnCiTpZxTmZsCbpvAIMMKEk5FMLaLZingweLlcbzE4%2FIrjMg97vFn5vWpney0h29U45gP%2FrmHX%2Be9qqNCBSSh2hx7WlR1u1wamNWf6Cad3dlWt08%2BR2Oj01LzqfFby3bEP7EuQqj0DO7sR1UqiBBlKFbPnA%3D%3D&response-content-disposition=attachment%3B+filename%3Dtest.csv')

In [0]:
df_train_new = df_train.drop(['PassengerId','Name','Ticket','Cabin'],axis=1)

In [0]:
#let's encode the objects using label encoder
from sklearn.preprocessing import LabelEncoder
lr =  LabelEncoder()
df_train_new['Sex'] = lr.fit_transform(df_train_new['Sex'])
df_train_new['Sex'].dtype

dtype('int64')

In [0]:
df_train_new['Embarked'] = df_train_new['Embarked'].astype(str)
df_train_new['Embarked'] = lr.fit_transform(df_train_new['Embarked'])
df_train_new['Embarked'].dtype

dtype('int64')

In [0]:
df_train_new.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [0]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='median')
imputer.fit_transform(df_train_new)

array([[ 0.    ,  3.    ,  1.    , ...,  0.    ,  7.25  ,  2.    ],
       [ 1.    ,  1.    ,  0.    , ...,  0.    , 71.2833,  0.    ],
       [ 1.    ,  3.    ,  0.    , ...,  0.    ,  7.925 ,  2.    ],
       ...,
       [ 0.    ,  3.    ,  0.    , ...,  2.    , 23.45  ,  2.    ],
       [ 1.    ,  1.    ,  1.    , ...,  0.    , 30.    ,  0.    ],
       [ 0.    ,  3.    ,  1.    , ...,  0.    ,  7.75  ,  1.    ]])

In [0]:
df_train_new.isnull().sum(axis=0)

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      0
dtype: int64

In [0]:
df_train_new['Age'].isnull().sum(axis=0)

177

In [0]:
df_train_new['Age'].fillna(df_train_new['Age'].median(),inplace=True)

In [0]:
df_train_new['Age'].isnull().sum(axis=0)

0

In [0]:
df_train_new['Age'] = df_train_new['Age'].astype(int)

In [0]:
df_train_data = df_train_new.drop(['Survived'],axis=1)

In [0]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_train_data = scaler.fit_transform(df_train_data)
columns = [ 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']
df_train_data = pd.DataFrame(data=df_train_data, columns=columns)
df_train_data.head()

     Pclass       Sex       Age     SibSp     Parch      Fare  Embarked
0  0.827377  0.737695 -0.564145  0.432793 -0.473674 -0.502445  0.581114
1 -1.566107 -1.355574  0.664649  0.432793 -0.473674  0.786845 -1.938460
2  0.827377 -1.355574 -0.256947 -0.474545 -0.473674 -0.488854  0.581114
3 -1.566107 -1.355574  0.434250  0.432793 -0.473674  0.420730  0.581114
4  0.827377  0.737695  0.434250 -0.474545 -0.473674 -0.486337  0.581114

In [0]:
#now again join the Survived column to df after scaling
df_train_data['Survived'] = df_train_new['Survived']

In [0]:
df_train_data.head()

     Pclass       Sex       Age  ...      Fare  Embarked  Survived
0  0.827377  0.737695 -0.564145  ... -0.502445  0.581114         0
1 -1.566107 -1.355574  0.664649  ...  0.786845 -1.938460         1
2  0.827377 -1.355574 -0.256947  ... -0.488854  0.581114         1
3 -1.566107 -1.355574  0.434250  ...  0.420730  0.581114         1
4  0.827377  0.737695  0.434250  ... -0.486337  0.581114         0

[5 rows x 8 columns]

In [0]:
df_train_data.isnull().sum(axis=0)

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
Survived    0
dtype: int64

In [0]:
df_train_data.dtypes

Pclass      float64
Sex         float64
Age         float64
SibSp       float64
Parch       float64
Fare        float64
Embarked    float64
Survived      int64
dtype: object

In [0]:
df_train_data.columns

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked',
       'Survived'],
      dtype='object')

In [0]:
X = df_train_data[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
y = df_train_data['Survived']

In [0]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(X,y,test_size=0.3)

In [0]:
from sklearn.svm import SVC
svm_clf = SVC()
svm_clf.fit(xtrain,ytrain)
ypred = svm_clf.predict(xtest)

In [0]:
from sklearn.metrics import accuracy_score, r2_score
print(accuracy_score(ypred,ytest))

0.8134328358208955

In [0]:
from sklearn.ensemble import RandomForestClassifier
rfc_clf = RandomForestClassifier()
rfc_clf.fit(xtrain,ytrain)
ypred = rfc_clf.predict(xtest)
print(accuracy_score(ypred,ytest))

0.8059701492537313

In [0]:
from sklearn.tree import DecisionTreeClassifier
dtr = DecisionTreeClassifier(max_depth=5)
dtr.fit(xtrain,ytrain)
ypred = dtr.predict(xtest)
print(accuracy_score(ypred,ytest))

0.8432835820895522

In [0]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()
log_reg.fit(xtrain,ytrain)
ypred = log_reg.predict(xtest)
print(accuracy_score(ypred,ytest))

0.7910447761194029

In [0]:
#let's go with RandomClassifier using Grid search
rfc_clf

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [0]:
from sklearn.model_selection import GridSearchCV

params = [
          {'n_estimators':[5, 10, 50,150], 'criterion':['gini','entropy'],'max_features':[3,5,7] },
          {'bootstrap':[False],'n_estimators':[5, 10, 50,150], 'criterion':['gini','entropy'],'max_features':[3,5,7] }
]
gs = GridSearchCV(rfc_clf,params,cv=4,scoring='neg_mean_squared_error',return_train_score=True)
gs.fit(X,y)

GridSearchCV(cv=4, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,...
                                              warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid=[{'criterion': ['gini', 'entropy'],
                          'max_features': [3, 5, 7],
                          'n_estimators': [5, 10, 50, 150]},
                         {'bootstrap': [False],
                          'criterion': ['gini', 'entropy'],
                          'max_features': [3, 5, 7],
                          'n_estimators': [5, 10, 50, 150]}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
             scoring='neg_mean_squared_error', verbose=0)

In [0]:
new_rfc_clf = gs.best_estimator_

In [0]:
new_rfc_clf.fit(xtrain,ytrain)
ypred = new_rfc_clf.predict(xtest)
accuracy_score(ypred,ytest)

0.8059701492537313

In [0]:
df_train_data.shape

(891, 8)

In [0]:
X = df_train_data[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
y = df_train_data['Survived']

In [0]:
dtr.fit(X,y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=5, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [0]:
df_test_new = df_test.drop(['PassengerId','Name','Ticket','Cabin'],axis=1)

In [0]:
#let's encode the objects using label encoder
from sklearn.preprocessing import LabelEncoder
lr =  LabelEncoder()
df_test_new['Sex'] = lr.fit_transform(df_test_new['Sex'])
df_test_new['Sex'].dtype

dtype('int64')

In [0]:
df_test_new['Embarked'] = df_test_new['Embarked'].astype(str)
df_test_new['Embarked'] = lr.fit_transform(df_test_new['Embarked'])
df_test_new['Embarked'].dtype

dtype('int64')

In [0]:
df_test_new.isnull().sum(axis=0)

Pclass       0
Sex          0
Age         86
SibSp        0
Parch        0
Fare         1
Embarked     0
dtype: int64

In [0]:
df_test_new['Age'].fillna(df_test_new['Age'].median(),inplace=True)
df_test_new['Fare'].fillna(df_test_new['Fare'].median(),inplace=True)

In [0]:
print(df_test_new['Age'].isnull().sum(axis=0))
print(df_test_new['Fare'].isnull().sum(axis=0))

0
0

In [0]:
df_test_new['Age'] = df_test_new['Age'].astype(int)

In [0]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_test_new = scaler.fit_transform(df_test_new)
columns = [ 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']
df_test_new = pd.DataFrame(data=df_test_new, columns=columns)
df_test_new.head()

     Pclass       Sex       Age     SibSp     Parch      Fare  Embarked
0  0.873482  0.755929  0.348318 -0.499470 -0.400248 -0.497413 -0.470915
1  0.873482 -1.322876  1.371432  0.616992 -0.400248 -0.512278  0.700767
2 -0.315819  0.755929  2.551948 -0.499470 -0.400248 -0.464100 -0.470915
3  0.873482  0.755929 -0.202589 -0.499470 -0.400248 -0.482475  0.700767
4  0.873482 -1.322876 -0.596095  0.616992  0.619896 -0.417492  0.700767

In [0]:
df_test_new.columns

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked'], dtype='object')

In [0]:
X = df_test_new[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]

In [0]:
test_pred = dtr.predict(X)

In [0]:
test_pred

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [0]:
result = pd.DataFrame(df_test['PassengerId'],columns=['PassengerId'])
result.head()

   PassengerId
0          892
1          893
2          894
3          895
4          896

In [0]:
result['Survived'] = test_pred

In [0]:
result.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [0]:
result.to_csv('test_results.csv',index=False)

In [129]:
result.shape

(418, 2)